:root {
    --purple-color: #5627D8;
    --purple-color2: #360bad;
    --gray-color: rgba(169, 169, 169, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    padding-top: 151px;
}

.top-bar {
    width: 100vw;
    height: 53px;
    background-color: rgba(41, 176, 71, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;/* Ensure it's above the navbar */
}

.navbar {
    margin-top: 50px; /* Push the navbar down to prevent overlap */
}
.header-text{
    font-size:20px ;
    color:white;
    font-weight: 400;
}



/* Navbar */

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1000;
}

.nav-main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

.navbar-brand img {
    height: 50px;
}

.menu-container {
    display: flex;
    gap: 70px;
    width: 100%;
   
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 70px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.menu a:hover {
    color: var(--purple-color);
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons .btn {
    padding: 2px 15px;
    border: 1px solid var(--purple-color);
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-radius: 0px;
    transition: all 0.3s;
}

.buttons .btn:hover {
    background-color: var(--purple-color);
    color: white;
}

.buttons .register {
    background-color: var(--purple-color);
    color: white;
}

.toggle-btn {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.toggle-btn div {
    width: 30px;
    height: 3px;
    background-color: black;
    transition: all 0.3s;
}

/* Cross effect */
.toggle-btn.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.toggle-btn.active div:nth-child(2) {
    opacity: 0;
}

.toggle-btn.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Header */

header {
    font-family: "Poppins", sans-serif;
    height: 61px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

}

.market-header {
    width: 80%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 400;

}

.market-header i {

    cursor: pointer;
    color: var(--gray-color) !important;
}


.custom-gray {
    color: var(--gray-color)
}

.market-header .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.red-color{
    color:rgba(255, 27, 27, 1); cursor: pointer;
}
.header-section{
    display: flex;gap:25px

}
.green-color{
    color:rgba(63, 221, 7, 1)
}



.slider-wrapper {
    background: linear-gradient(rgba(187, 235, 209, 1), rgba(207, 249, 255, 1));
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container {
    width: 300%;
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 1s ease-in-out;
    /* Smooth slide transition */
    width: 100%;
    /* Set width dynamically */
}

.slider-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-item.active {
    display: flex;
    /* Show only the active slide */
    opacity: 1;
}

.slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: white;
}

.custom-carasoul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carsoul-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.carasoul-right {
    text-align: left;
    width: 68%;
    padding: 20px;
    border-radius: 10px;
}

.carasoul-heading {
    font-weight: 700;
    font-size: 60px;
}

.carasoul-btn {
    margin-top: 30px !important;
    font-family: "Poppins", sans-serif;
    ;
    width: 228px;
    height: 49px;
    background-color: var(--purple-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;

}

.carasoul-left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    padding-left: 350px;
    overflow: hidden;
    /* Prevents any unwanted overflow */
}

.carasoul-left img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/* component */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 150px;
}

.wrapper-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 70%;
    margin: auto;
}


.img-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: rgba(86, 39, 216, 0.07);
}

.content-img {
    height: 60px;
    width: 60px;
    margin-top: 30px;
}

.content-heading {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.content-para {
    text-align: center;
    text-transform: capitalize;
}

.section-third {
    font-family: "Poppins", sans-serif;
}

/* Heading & Text Styling */
.section-heading {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.section-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

/* Purple Button */
.purple-btn {
    background-color: var(--purple-color);
    color: white;
    font-size: 18px;
    padding: 10px 24px;
    border: none;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

/* Graph */

.graph-main {
    background-image: url('assets/images/Rectangle 496.svg');
    max-width: 1300px;
    height: 900px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 0 auto;

}

.graph-first {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.first-para {
    color: white;
    font-weight: 600;
    font-size: 41px;

}

.para-content {
    display: flex;
    gap: 50px
}

.graph-second {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.second-para {
    line-height: 25px;

}

.second-top {
    color: rgba(228, 228, 228, 1);
    font-size: 24px;
    font-weight: 400;

}

.second-bottom {
    color: rgba(228, 228, 228, 1);
    font-size: 28px;
    font-weight: 600;

}

.graph-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.third-left {
    line-height: 80px;
    color: var(--gray-color);

}

.third-right {
    background-image: url('assets/images/Graphs.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;

}

.graph-img {
    margin-top: 300px;
    width: 100%
}

.graph-fourth {
    display: flex;
    justify-content: center;
    gap: 70px;
    color: rgba(158, 158, 158, 1);
    font-size: 12px;
    font-weight: 400;

}




/* Section fifth */
.section-fifth li {
    font-size: 17px;
    line-height: 21px;
    font-weight: 300;


}

.section-fifth {
    font-family: "Triodion", serif !important;
}

.section-fifth {
    font-family: "Poppins", sans-serif;
}

/* Heading */
.section-heading {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.section-list {
    width: 70%;
    max-width: 100%;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 0;
}

.section-list li {
    padding-top: 15px;
}

/* Button */
.purple-btn {
    background-color: var(--purple-color);
    color: white;
    font-size: 18px;
    padding: 10px 24px;
    border: none;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}



/* Image Box */
.section-image {
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-image: url('images/banners 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Car2 */

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.article-card {
    width: 476px;
    flex: 0 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: left;
    display: inline-block;
    margin: 0 10px;
    height: 225px;
}
.article-card img {
    width: 169px;
    height: 169px;
    border-radius: 50%;
    object-fit: cover;
}
.highlight-bg {
    background-color: rgba(86, 39, 216, 0.11)
}
.dots {
    text-align: center;
    margin-top: 15px;
}
.dot2 {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.dot2.active {
    background-color: #6c5ce7;
}

.article-heading{
    font-size: 38px;font-weight: 700;

}
.article-button{
    font-size: 26px;font-weight: 400;border: none;
    text-decoration: none;
    color: black;

}

.article-card-heading{
    font-size:20px ;font-weight:600 ;

}

.article-card-dec{
    font-size:18px ;font-weight:400 ;

}



@media (max-width: 767px) {
    .wrapper,
    .wrapper-2 {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .content-box {
        width: 90%;
        margin: auto;
    }

    .img1 {
        height: 60px;
        width: 60px;
    }

    .content-img {
        height: 50px;
        width: 50px;
        margin-top: 20px;
    }

    .content-heading {
        font-size: 22px;
    }

    .content-para {
        font-size: 14px;
    }

    /* .market-header {
        width: 95%;
        font-size: 16px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    } */

    .market-header .icon {
        gap: 10px;
    }
}


/* Customer section */
.section-title {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* Customer Section */
.customer-wrapper {
    color: White;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.customer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 650px;
    padding: 20px;

}

/* Individual Customers */
.individual {
    background-color: rgba(86, 39, 216, 1);
}

.individual-icon {
    background-color: rgba(108, 67, 221, 1);
}


/* Institutional Customers */
.institutional {
    background-color: rgba(0, 0, 0, 1);
}

.institutional-icon {
    background-color: rgba(255, 255, 255, 0.13);
}

.customer-box:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

/* Customer Icons */
.customer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 142px;
    width: 142px;
}



/* Text Styles */
.customer-title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
}

.customer-text {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}


/* Journey Section */
.journey-section {
    margin-top: 5rem;
    height: 324px;
    background-color: rgba(237, 237, 237, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.journey-container {
    width: 50%;
    text-align: center;
}

.journey-title {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.journey-text {
    font-size: 23px;
    font-weight: 300;
    line-height: 29px;
    text-transform: capitalize;
}

/* Testimonials */

.testimonial-section .t {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonial-container {
    position: relative;
    display: inline-block;
    padding: 20px;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    background-color: rgba(86, 39, 216, 0.08);
    border-radius: 50%;
    transform: translate(-50%, -50%);

}

.big-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
}

.profile-card {
    text-align: center;
    padding: 20px;
    padding-bottom: 8px;
    border: 1px solid rgba(206, 199, 199, 1);
    background: #fff;
    transition: background 0.3s, color 0.3s;
}

.highlighted {
    cursor: pointer;
    background: rgba(86, 39, 216, 1);
    color: white;
}

.highlighted .profile-img {
    filter: grayscale(0%);
}

.highlighted .profile-desc,
.highlighted .profile-review {
    color: white;
}

.profile-img {
    width: 174px;
    height: 174px;
    border-radius: 50%;
    margin-top: -80px;
    filter: grayscale(100%);
}

.profile-name {
    font-weight: 600;
    font-size: 20px;
}

.profile-desc {
    font-weight: 400;
    font-size: 16px;
    color: rgba(132, 132, 132, 1);

}

.profile-review {
    font-weight: 400;
    font-size: 18px;
    color: rgba(43, 42, 42, 1);
}


/* contact */

.contact-section {
    background-color: black;
    height: 246px;
    display: flex;
    align-items: center;
}

.contact-left {
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;

}

.contact-right {
    display: flex;
    align-items: center;
}

.contact-btn {
    /* height: 79px;
    width: 237px; */
    font-weight: 600;
    font-size: 24px;
    background-color: var(--purple-color);
    border: none;
    color: white;
    border-radius: 4px;
    padding: 20px 50px;
    white-space: nowrap;
}

.rmv-sec {
    display: block;
}

/* Footer */

.footer-top {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.footer-logo img {
    width: fit-content;
}

.footer-logo {
    height: fit-content;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-logo p {
    font-family: "Poppins", serif;
    font-weight: 300;
    line-height: 21px;
    color: var(--black);
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Outfit", serif;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 522px;
    height: 131px;
    color: var(--blue);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.footer-items a{
    text-decoration: none;
    color: #000;
}

.footer-items li {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    list-style: none;
    cursor: pointer;
}

.footer-items li:hover{
    color: #5627D8;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-left {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 75%;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    line-height: 24px;
    font-size: 22px;
    color: var(--gray-color);
    margin-top: 30px;
}

.footer-icons img {
    margin-left: 24px;
}

.footer-icons img:hover{
    transform: scale(1.4);
    transition: 0.5s ease;
    cursor: pointer;
}

.btn-hover:hover{
    background-color: var(--purple-color2);
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;   
}

/* Responsive Design */

/* Main */

@media only screen and (min-width:992px) and (max-width:1279px) {

    /* Navbar */
    .menu-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 98px;
        right: 0;
        background-color: white;
        width: 250px;
        padding: 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .menu-container.show {
        display: flex;
    }

    .menu {
        flex-direction: column;
        gap: 20px;
    }

    .menu a {
        font-size: 18px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .toggle-btn {
        display: flex;
    }

    .navbar-brand img {
        height: 40px;
    }

    /* Journey */
    .journey-container {
        width: 60%;
    }

    .journey-title {
        font-size: 28px;
    }

    .journey-text {
        font-size: 21px;
        line-height: 27px;
    }

    /* Customer */
    .customer-title {
        font-size: 35px;
    }

    .customer-text {
        font-size: 18px;
    }

    .customer-icon {
        height: 120px;
        width: 120px;
    }

    /* Section third */
    .section-third {
        padding: 4rem 3rem;
    }

    .section-heading {
        font-size: 28px;
        line-height: 45px;
    }

    .section-text {
        font-size: 18px;
        line-height: 24px;
    }

    .purple-btn {
        font-size: 18px;
        padding: 10px 24px;
    }

    /* section fifth */
    .section-fifth {
        padding: 4rem 3rem;
    }

    .section-heading {
        font-size: 28px;
        line-height: 45px;
    }

    .section-list {
        font-size: 18px;
        line-height: 24px;
    }

    .purple-btn {
        font-size: 18px;
        padding: 10px 24px;
    }

    .section-image {
        height: 450px;
    }

    .section-list {
        width: 90%;
    }


}

/*Small iPad*/
@media only screen and (min-width:768px) and (max-width:991px) {

    /* navbar */
    .menu-container {
        display: block;
    }

    .menu a {
        font-size: 17px;
    }

    .buttons .btn {
        font-size: 18px;
        padding: 2px 10px;
    }

    .navbar {
        padding: 15px 60px;
    }

    /* car1 */
    .carasoul-heading {
        font-weight: 500;
        font-size: 30px;
    }
    .carasoul-btn {
        margin-top: 10px !important;
        font-family: "Poppins", sans-serif;
        ;
        width: 108px;
        height: 29px;
        background-color: var(--purple-color);
        color: white;
        border: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
    
    }
    .carasoul-left{
        width: 100%;
    }
    .slider-wrapper {
        background: linear-gradient(rgba(187, 235, 209, 1), rgba(207, 249, 255, 1));
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand img {
        height: 38px;
    }

    /* Journey */
    .journey-container {
        width: 70%;
    }

    .journey-title {
        font-size: 26px;
    }

    .journey-text {
        font-size: 20px;
        line-height: 26px;
    }

    /* Section third */
    .section-third {
        padding: 3rem 2rem;
    }

    .section-heading {
        font-size: 25px;
        line-height: 42px;
    }

    .section-text {
        font-size: 16px;
        line-height: 22px;
    }

    .purple-btn {
        font-size: 16px;
        padding: 8px 20px;
    }

    /* Customer */
    .customer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .customer-box {
        max-width: 90%;
    }

    .customer-title {
        font-size: 32px;
    }

    .customer-text {
        font-size: 18px;
    }

    .customer-icon {
        height: 110px;
        width: 110px;
    }

    /* section fifth */
    .section-fifth {
        padding: 3rem 2rem;
    }

    .section-heading {
        font-size: 25px;
        line-height: 42px;
    }

    .section-list {
        font-size: 16px;
        line-height: 22px;
        width: 100%;
    }

    .purple-btn {
        font-size: 16px;
        padding: 8px 20px;
    }

    .section-image {
        height: 400px;
    }

    /* contact */
    .contact-left {
        line-height: 40px;
        font-size: 20px;
    }

    .contact-btn {
        /* height: 80px;
        width: 210px; */
        font-weight: 600;
        font-size: 18px;
        padding: 18px 30px;
    }

    .rmv-sec {
        display: none !important;
    }

    .contact-left {
        text-align: center !important;

    }

    .contact-right {
        display: flex;
        justify-content: center !important;
    }

    /* market */
    .market-header{
    
        font-size: 13px;
        justify-content: center;
        width: 100%;
    }

    /* wrapper */
    .wrapper{
        display: flex;
        gap: 15px;
    }
    .wrapper-2{
        display: flex;
        width: 100%;
       gap:150px;
       
    }

    /* graph */
    .third-left {
        line-height: 30px;
        font-size: 15px;
    }

    .graph-img {
        margin-top: 250px;
        width: 100%
    }
    .graph-third{
        margin-top:-100px;
    }
    .graph-fourth{
        margin-top: -80px;
        margin-left: 50px;
        display: flex;
        gap:8px;
    }
    .graph-main{
        height: 620px;
    }
}

/*Only Mobile*/
@media (max-width: 767px) {
    body{
        margin-top: -55px !important;
    }

    .top-bar{
        height: 25px;
    }
    .navbar {
        margin-top: 20px;
        height: 70px; /* Push the navbar down to prevent overlap */
    }

    .header-section{
        gap:17px;
    }
   


    .header-text{
        font-size:7px ;
        color:white;
        font-weight: 300;
    }

    .market-header{
    
        font-size: 7px;
        justify-content: center;
        width: 100%;
    }

    .menu-container {
        display: block;
       margin-top: -24px;
    }

    /* car1 */
    /* car */
    .carasoul-heading {
        font-weight: 500;
        font-size: 20px;
    }
    .carasoul-left{
        width: 100%;
        padding-left: 250px;
    }
    .carasoul-btn {
        margin-top: 10px !important;
        font-family: "Poppins", sans-serif;
        ;
        width: 108px;
        height: 29px;
        background-color: var(--purple-color);
        color: white;
        border: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
    
    }
    .custom-carasoul{
        display: flex;
        flex-direction: column;
    }
    .slider-wrapper {
        background: linear-gradient(rgba(187, 235, 209, 1), rgba(207, 249, 255, 1));
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-item{
        display: flex;
        flex-direction: column-reverse !important;
    }

    /* black container */
    .market-content{
        font-size: 14px;
    }

    /* navbar */
    .menu a {
        font-size: 16px;
    }

    .buttons .btn {
        font-size: 18px;
        padding: 2px 10px;
    }

    .navbar {
        padding: 15px 50px;
    }

    .navbar-brand img {
        height: 35px;
    }

    /* Section third */
    .section-third {
        padding: 2rem 1.5rem;
        text-align: center;
    }

    .invest-img {
        width: 80%;
        max-width: 300px;
        margin: 0 auto 20px;
    }

    .section-heading {
        font-size: 22px;
        line-height: 36px;
    }

    .section-text {
        font-size: 15px;
        line-height: 20px;
    }

    .purple-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    /* customer */
    .customer-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .customer-box {
        max-width: 100%;
        padding: 15px;
    }

    .customer-title {
        font-size: 28px;
    }

    .customer-text {
        font-size: 16px;
    }

    .customer-icon {
        height: 100px;
        width: 100px;
    }

    /* footer */
    .footer-left{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-list{
        width: 80vw;
        margin-left: 20px;
    }

    .footer-items{
        gap: 25px;
    }

    .footer-items li{
        font-size: medium;
    }

    .footer-logo{
        width: 80vw;
        margin-left: 20px;
        gap: 20px;
    }

    .footer-logo img{
        width: 44%;
    }

    .footer-top{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
    }

    .footer-bottom{
        font-size: medium;
        text-align: center;
        margin-top: 50px;
    }

    /* contact section */
    .contact-section{
        padding-left: 20px;
    }

    /* top carousel */
    /* .carasoul-heading{
        font-size: 20px;
        width: 80%;
    }

    .carasoul-btn{
        font-size: medium;
        width: fit-content;
        height: fit-content;
        padding: 6px 14px;
    }

    .carasoul-left{
        padding-left: 0px;
    }    

    .carasoul-left img{
        width: 150px;
    }

    .slider-wrapper{
        height: auto;
    } */


    /* journey */
    .journey-section {
        height: auto;
        padding: 40px 20px;
    }

    .journey-container {
        width: 90%;
    }

    .journey-title {
        font-size: 24px;
    }

    .journey-text {
        font-size: 18px;
        line-height: 24px;
    }

    .purple-btn {
        width: 180px;
        font-size: 16px;
        padding: 10px;
    }

  
    .graph-first {
        display: flex;
        flex-direction: column;
    }

    .graph-second {
        display: flex;
        flex-direction: column;
    }

    .img-cut {
        width: 350px
    }

    .third-left {
        line-height: 10px;
        font-size: 10px;
    }

    .graph-fourth {
        display: flex;
        gap: 20px;
        font-size: 12px;
       
    }
    .graph-img {
        margin-top: 220px;
        width: 100%
    }
    .graph-third{
        margin-top:-150px;
    }
    .graph-fourth{
        margin-top: -150px;
        margin-left: 50px;
        display: flex;
        gap:8px;
    }
    .graph-main{
        height: 610px;
    }

    /* section fifth */
    .section-fifth {
        padding: 2rem 1.5rem;
        text-align: center;
    }

    .section-image {
        height: 350px;
        max-width: 100%;
        margin: 20px auto;
    }

    .section-heading {
        font-size: 22px;
        line-height: 36px;
    }

    .section-list {
        width: 100%;
    }

    .purple-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    /* contact */
    .contact-left {
        line-height: 45px;
        font-size: 20px;
    }

    .contact-btn {
        /* height: 50px;
        width: 137px; */
        font-weight: 600;
        font-size: 14px;
        padding: 10px 18px;
    }

    .rmv-sec {
        display: none;
    }

    .m {
        display: flex;
        justify-content: center;
    }

    .contact-section {
        height: 200px;
    }

    /* car 2 */
    .article-heading{
        font-size: 28px;font-weight: 700;
    
    }
    .article-button{
        font-size: 16px;font-weight: 400;border: none;
        text-decoration: none;
        color: black;
    
    }

    .car-2 {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
   

}


@media (max-width: 992px) {
    .menu-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 98px;
        right: 0;
        background-color: white;
        width: 250px;
        padding: 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .menu-container.show {
        display: flex;
    }

    .menu {
        flex-direction: column;
        gap: 20px;
    }

    .toggle-btn {
        display: flex;
    }
}

@media only screen and (min-width:992px) and (max-width:1279px) {
    .menu-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 98px;
        right: 0;
        background-color: white;
        width: 250px;
        padding: 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .menu-container.show {
        display: flex;
    }

    .menu {
        flex-direction: column;
        gap: 20px;
    }

    .menu a {
        font-size: 18px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .toggle-btn {
        display: flex;
    }

    .navbar-brand img {
        height: 40px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {

    .menu a {
        font-size: 17px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .buttons .btn {
        font-size: 18px;
        padding: 2px 10px;
    }

    .navbar {
        padding: 15px 60px;
    }

    .navbar-brand img {
        height: 38px;
    }
}

@media (max-width: 767px) {
    .menu a {
        font-size: 16px;
    }

    .menu {
        margin-left: 0px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .buttons .btn {
        font-size: 18px;
        padding: 2px 10px;
    }

    .navbar {
        padding: 15px 50px;
    }

    .navbar-brand img {
        height: 35px;
    }
}


/* Testimonials */
/* Big iPad */
@media only screen and (min-width:992px) and (max-width:1279px) {
    .big-heading {
        font-size: 40px;
        line-height: 44px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
    }

    .profile-card {
        padding: 15px;
    }
}

/* Small iPad */
@media only screen and (min-width:768px) and (max-width:991px) {
    .big-heading {
        font-size: 35px;
        line-height: 38px;
    }

    .profile-img {
        width: 140px;
        height: 140px;
    }

    .profile-card {
        padding: 12px;
    }
}

/* Only Mobile */
@media (max-width: 767px) {
    .big-heading {
        font-size: 28px;
        line-height: 32px;
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }

    .profile-card {
        padding: 10px;
        margin-bottom: 80px;
    }

}